services:
  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
    volumes:  
     - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - 5432:5432
  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
 # api:
 #   build:
 #     context: .
 #     dockerfile: Dockerfile
 #   ports:
 #     - 3000:3000
 #   depends_on:
 #     - db